/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/ssl/*
/certbot
/backup
/public/assets/images
!/public/assets/images/about
!/public/assets/images/carousel
!/public/assets/images/icons