/* Archivo de configuración CSS global, después cada página tendrá su archivo
específico si así se requiere */

@font-face {
    font-family: Alegreya Sans;
    src: url(../assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}

@font-face {
    font-family: Cinzel Decorative;
    src: url(../assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf);
}

/* Aviso uso de cookies */

.js-cookie-consent {
    background-color: #fff3cd;
    position: fixed;
    bottom: 0;
    right: auto;
    z-index: 1000;
    width: 100%;
}

.js-cookie-consent>div>div>div>p {
    text-align: center;
}

.js-cookie-consent>div>div>div>div {
    display: flex;
    justify-content: center;
}




* {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1rem;
}

h1, h2 {
    font-family:'Cinzel Decorative', sans-serif !important;
}

body {
    background-color: rgb(234, 225, 248);
}

#app{
    border: 2px solid black;
    background-color: rgb(252, 252, 252);
    width: 85%;
    margin: 0 auto;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar * {
    font-family: 'Cinzel Decorative', sans-serif !important;
    background-color: rgb(252, 252, 252);
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.hw-logo {
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 4.5vw;
    width: fit-content;
    margin: 1rem auto;
}

.hw-topmenu {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 2.7rem;

}

.hw-div-mainmenu {
    margin: 0 auto;
}

.hw-ul-itemlist {
    width: fit-content;
    margin: 0 auto;
}

.hw-ul-itemlist li:hover {
    border-bottom: 1px solid black !important;
}

.hw-ul-itemlist li a:hover {
    color:  #8224e3 !important;
}

.navbar-toggle{
    display: block;
    margin-top: 50px
} 

.btn-outline-success {
    color: #8224e3;
    border-color: #8224e3;
}

.btn-outline-success:hover {
    background-color: #8224e3;
}

.btn-primary {
    background-color: #8224e3;
    border-color: #8224e3;
}

.btn-primary:hover {
    background-color: #8424e3dc;
    border-color: #8424e3dc;

}

.hw-main-menu {
    opacity: 95%;
}




/* Versión para móviles */
@media (max-width: 992px) {

    #app {
        border: none;
        width: 100%;
    }

    .hw-logo {
        font-size: 6vw;

    }

    .hw-topmenu .navbar-nav{
        flex-direction: row;
    }

    .hw-topmenu li{
        padding: 0 1rem;
    }
    .hw-div-mainmenu {
        width: 100%;
    }

    .hw-ul-itemlist {
        width: 100%;
    }

    .hw-ul-itemlist {
        text-align: center;
        display: flex;
    }

    .hw-main-menu {
        opacity: 95%;
    }

    /* Carrusel sin margen para móviles */

    .py-4 .px-5 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
      
    }

    /* Ajustamos el menú para tamaños más pequeños */
    @media (max-width: 440px) {

        button.navbar-toggler {
            margin-right: 0 !important;
        }

        .hw-mobile-logo {
            margin-left: .5rem !important;
            font-size: 1rem !important;
        }

        
    }

}